header{
    background-color: black;
    text-align: center;
    padding: 30px;
    width: 100%;
}
.animate-pop-in {
    animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
  }
  
  .name {
    animation-delay: .8s;
  }
  
  .sub {
    animation-delay: 1s;
  }
  .logo {
    animation-delay: 1s;
  }

  .email {
    animation-delay: 1s;
  }

  @keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
#logo{
    position: absolute;
    width: 85px;
    height: 85px;
    top: 0px;
    left: 0px;
}
#email{
    color:white;
    position: absolute;
    top: 105px;
    right: 10px;
}
#email:hover{
    color: gray;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header h4 {
    font-size:smaller;
}

.col-md-6 img{
    width: 350px;
    height: 470px;
    text-align: left;
}

.col-md-6{
    margin-top: 40px;
    margin-bottom: 40px;
}

#certs{
    text-align: center;
    font-weight: 700;
}

footer{
    background-color: #f8cbac;
    text-align: center;
}
.sm_icon{
    width: 70px;
    padding-left: 20px;
  }

  a {
    text-decoration: none;
}
  
